# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.tmp
stable-working-state.yaml
working-backup.yaml
::.

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

**/.DS_Store

# IDE
.vscode/

# Kubernetes experiments
metrics-server.yaml
dev-backup.yaml
clean-api.yaml
staging.yaml
simple-k8s/

# OS
.DS_Store
Thumbs.db